
body,
#root,
.app,
.content {
   height: 100%;
    width: 100%;
    font-family: "Source Sans Pro", sans-serif;
}

.content {
    background-color: #222121;
}

.app {
    display: flex;
    position: relative;
}

::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
    background: #e0e0e0;
}


::-webkit-scrollbar-thumb {
    background: #888;
}


::-webkit-scrollbar-thumb:hover {
    background: #555;
}

input.css-1rv476z-MuiInputBase-input-MuiFilledInput-input {
    background-color: black;
}

.css-1fuaiuw {
    margin-top: 100px;
}

label.css-8w7i53-MuiFormLabel-root-MuiInputLabel-root {
    font-size: 1.5rem;
}

button.css-wnx1cx-MuiButtonBase-root-MuiButton-root {
    font-size: 1.5rem;
}

.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 1.5em;
    font-size: 1.5rem;
}

span.css-47iiw-MuiTypography-root {
    color: #000000;
    font-size: 1.5rem;
}


svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-havevq-MuiSvgIcon-root {
    font-size: 2.5rem;
    color: white;
}

p.css-17w9904-MuiTypography-root {
    font-size: 1.5rem;
    color: white;
}